.Header {
    height: 9rem;
    &_brand {
        background-image: url(../../img/logo.jpeg);
        background-size: contain;
        background-repeat: no-repeat;
        margin-left: 20rem !important;
    }
}