.Nav {
  min-height: 100vh;
  position: fixed;
  left: 1px;
  top: 7rem;
  width: 30vw;
}

.active {
  transform: scale(0.9);
  outline: none;
  border: none;
  &:focus {
    outline: none;
    border: none;
  }
}

.list_button {
  transition: all 0.2s;
}
.toggler {
  z-index: 10000;
  width: 3rem;
  height: 3rem;
  background-color: red;
}
@media (max-width: 900px) {
  .Nav {
    height: 100vh;
    z-index: 20;
  }
}
